.NotesContainer {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.noteDisplay {
    border-radius: 10px;
    border : 10px solid lightcoral;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    background-color: lightcoral;
    border-radius: 20px;
}

p {
    border : 5px solid rgb(236, 145, 145);
    font-size: large;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.BackBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    background-color: lightcoral;
    margin: auto;
    margin-top: 20px;;
}

