* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    font-size: large;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    background-color: lightsalmon;
}

.button {
    cursor: pointer;
}