* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;
    font-size: large;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
}
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    background-color: pink;
    margin-inline: 20px;
}

.options {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.homescreenButton {
    width: 200px;
    height: 50px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: pink;
    font-size: large;
    cursor: pointer;
    border: black 2px solid;
}