.NotesContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.textArea {
    width: 80%;
    height: 70vh;
    font-size: large;
    padding: 10px;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    resize: none;
}

button{
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    font-size: large;
    color: white;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}