.NotesContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.textArea {
  width: 80%;
  height: 60vh;
  font-size: large;
  padding: 10px;
  border: 2px solid lightsalmon;
  border-radius: 5px;
  resize: none;
}

button {
  width: 100px;
  height: 50px;
  padding: 10px;
  margin: 20px auto;
  font-size: large;
  color: white;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.Title {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightsalmon;
  height: 50px;
  width: 80%;
  font-size: x-large;
}


