<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="viewCSS.css" />
  </head>
  <body>
    <h1>View</h1>
    <div class="searchbar" id="searchbar" contenteditable="true"></div>
    <section class="container">
      <div class="NotesContainer" id="NotesContainer"></div>
      <div class="buttons">
        <button class="Back" id="BackBtnID">Back</button>
        <button class="clear" id="clear">Clear</button>
      </div>
    </section>
    <script src="VeiwJS.js"></script>
    <script src="search.js"></script>
  </body>
</html>
