.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.NotesContainer {
    width: 80%;
    min-height: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: lightyellow;
    overflow-y: auto;
    padding: 10px;
}

.note {
    background-color: lightyellow;
    margin: 0;
    padding: 10px;
}

.Back {
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    color: white;
}